[unstable]
build-std = ["core", "compiler_builtins", "alloc"]

[build]
target = [
    "x86_64-unknown-none",
    "aarch64-unknown-none",
    "riscv64gc-unknown-none-elf",
    "x86_64-unknown-linux-gnu",
]

[target.riscv64gc-unknown-none-elf]
rustflags = [
    "-C", "link-arg=-T", "-C", "link-arg=elf-stage.ld",
    "-C", "link-arg=--entry=efi_main",
    "-C", "link-arg=--undefined=efi_main",
    "-C", "link-arg=--emit-relocs",
    "-C", "relocation-model=pic",
]

[target.loongarch64-unknown-none]
rustflags = [
    "-C", "link-arg=-T", "-C", "link-arg=elf-stage.ld",
    "-C", "link-arg=--entry=efi_main",
    "-C", "link-arg=--undefined=efi_main",
    "-C", "link-arg=--emit-relocs",
    "-C", "relocation-model=pic",
]
